/* common */
.rabbit-integrator-admin-wrap * {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}
.rabbit-integrator-admin-container {
  width: 99%;
}
.rabbit-integrator-admin-path {
  margin-top: 16px;
  /* display: none; */
}
.rabbit-integrator-admin-path a:link,
.rabbit-integrator-admin-path a:visited,
.rabbit-integrator-admin-path a:active {
  text-decoration: none;
  outline: none;
  opacity: 1;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  color: #961e3a;
  font-size: 15px;
  border: 1px solid #25080f;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  cursor: pointer;
}
.rabbit-integrator-admin-path a:hover {
  background-color: #961e3a;
  color: #fff;
}
.rabbit-integrator-link {
  margin-right: 10px;
}
.rabbit-integrator-admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #130407;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
}
.rabbit-integrator-admin-logo {
  width: 25%;
}
.rabbit-integrator-admin-logo a {
  outline: none;
  box-shadow: none;
}
.rabbit-integrator-admin-logo span {
  bottom: -2px;
  font-size: 10px;
  color: #d73b60;
  position: absolute;
}
.rabbit-integrator-admin-calendar,
.rabbit-integrator-admin-calendar strong {
  color: #d73b60;
  text-transform: capitalize;
  font-family: sans-serif;
}
.rabbit-integrator-admin-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
}
.form-validation-error {
  border: 1px solid #d73b60 !important;
}
.rabbit-integrator-validation-error-message {
  display: block;
  position: absolute;
  /* box-sizing: border-box; */
  bottom: -20px;
  right: 0;
  font-size: 10px;
  color: red;
}
#adminmenuback {
  z-index: 3;
}
.rabbit-integrator-popup-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  position: absolute;
  left: -2px;
}
.rabbit-integrator-popup-active {
  z-index: 2;
  background-color: #fff;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
@-moz-document url-prefix() {
  .rabbit-integrator-popup-active {
    width: 100%;
    height: 100%;
  }
}
.rabbit-integrator-popup-success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1aa052;
  width: 20%;
  height: 25%;
  align-self: flex-start;
  margin-top: 15%;
  text-align: center;
  padding: 20px;
  border: 1px solid #000;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  border-radius: 5px;
  position: relative;
}
.rabbit-integrator-popup-success .rabbit-integrator-popup-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.rabbit-integrator-popup-success .rabbit-integrator-popup-close-btn::after {
  content: url(../images/close.png);
  display: inline-block;
}
.rabbit-integrator-popup-success strong {
  color: #fff;
  display: block;
  margin: 5px 0 10px 0;
  font-weight: 500;
}
.rabbit-integrator-popup-output {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f1;
  border: 1px solid #000;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
}
.rabbit-integrator-popup-output-text {
  color: #961e3a;
}
.rabbit-integrator-popup-output img {
  margin-left: 5px;
  cursor: pointer;
  scale: 0.9;
}
.rabbit-integrator-popup-copied {
  display: block;
  position: fixed;
  top: 40px;
  right: 15px;
  padding: 5px 20px 5px 20px;
  background-color: #1aa052;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: rgb(0, 0, 0) 5px 5px;
}
/* dashboard */
.rabbit-integrator-admin-item-list {
  flex: 0 0 100%;
  border-radius: 10px;
}
.rabbit-integrator-admin-item-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 25px;
}
.rabbit-integrator-admin-item-list ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  flex: 1;
  height: 170px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
}
.rabbit-integrator-admin-item-list ul li a,
.rabbit-integrator-admin-item-list ul li a:link,
.rabbit-integrator-admin-item-list ul li a:visited,
.rabbit-integrator-admin-item-list ul li a:focus {
  text-decoration: none;
  outline: none;
  color: #d73b60;
  box-shadow: none;
}
.rabbit-integrator-admin-item-list ul li:hover {
  background-color: #961e3a;
}
.rabbit-integrator-admin-item-list ul li:hover a h3 {
  color: #f8e9ed;
}
.rabbit-integrator-admin-icon {
  margin-bottom: 10px;
}
.rabbit-integrator-admin-icon img {
  box-sizing: border-box;
  height: 45px;
  /* width: 44%; */
}
.rabbit-integrator-admin-item-list ul li a h3 {
  font-size: 14px;
  font-weight: normal;
}
.rabbit-integrator-admin-list {
  flex: 1;
  border-radius: 10px;
}
/* new template */
.rabbit-integrator-admin-form,
.rabbit-integrator-admin-paypal-demo {
  flex: 1;
  border: 1px solid #000;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  border-radius: 15px;
  /* height: 300px; */
  padding: 20px;
  align-items: center;
}
.rabbit-integrator-admin-form h4 {
  font-size: 15px;
  margin-bottom: 15px;
}
.rabbit-integrator-admin-form ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 18px;
}
.rabbit-integrator-admin-form ul li:last-child {
  margin-bottom: 0;
}
.rabbit-integrator-admin-form ul li label {
  flex: 0 0 32%;
  font-size: 14px;
  font-weight: 500;
}
.rabbit-integrator-admin-form ul li input[type="text"],
.rabbit-integrator-admin-form ul li select {
  flex: 1;
  max-width: -webkit-fill-available;
}
.rabbit-integrator-admin-form {
  flex: 0 0 30%;
}
.rabbit-integrator-button {
  /* background-color: #25080f; */
  padding: 5px 10px 5px 10px;
  color: #961e3a;
  font-size: 15px;
  border: 1px solid #25080f;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  cursor: pointer;
}
.rabbit-integrator-button:hover {
  background-color: #961e3a;
  color: #fff;
}
.rabbit-integrator-admin-paypal-demo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rabbit-integrator-admin-paypal-demo-inner {
  text-align: center;
}
.rabbit-integrator-admin-paypal-demo .rabbit-integrator-paypal-paragraph {
  display: block;
  margin-bottom: 50px;
}
.rabbit-integrator-admin-paypal-demo .rabbit-integrator-paypal-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 37px;
  text-transform: capitalize;
  background-color: #009cde;
  color: #fff;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
}
.rabbit-integrator-admin-paypal-demo .rabbit-integrator-paypal-btn span {
  margin-right: -15px;
}
.rabbit-integrator-admin-paypal-demo .rabbit-integrator-paypal-btn img {
  scale: 0.6;
}
/* template list */
.rabbit-integrator-admin-template-list {
  width: 100%;
}
#rabbit-integrator-admin-template-list_length label {
  font-size: 15px;
  font-weight: 500;
  color: #961e3a;
}
#rabbit-integrator-admin-template-list_length label select {
  height: 38px;
  width: 55px;
  border-radius: 5px;
  color: #961e3a;
  border: 1px solid #25080f;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  margin: 0 2px 0 2px;
}
#rabbit-integrator-admin-template-list_filter label {
  color: #961e3a;
}
#rabbit-integrator-admin-template-list_filter label input[type="search"] {
  height: 38px;
  border: 1px solid #25080f;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  margin-bottom: 10px;
}
#rabbit-integrator-admin-template-list {
  border: 1px solid #25080f;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
}
#rabbit-integrator-admin-template-list thead tr {
  background-color: #961e3a;
  color: #fff;
}
#rabbit-integrator-admin-template-list thead tr td {
  font-weight: 500;
}
#rabbit-integrator-admin-template-list tbody tr td {
  padding: 0 10px 0 10px;
  height: 45px;
}
#rabbit-integrator-admin-template-list_info {
  margin-top: 10px;
  color: #961e3a;
}
#rabbit-integrator-admin-template-list_paginate {
  margin-top: 10px;
  color: #961e3a;
}
#rabbit-integrator-admin-template-list_paginate a.paginate_button {
  border: 1px solid #25080f;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  margin-right: 5px;
  color: #961e3a;
}
#rabbit-integrator-admin-template-list_paginate a.disabled {
  background-color: #949494;
  border: 1px solid #25080f;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  margin-right: 5px;
  color: #fff !important;
}
.rabbit-integrator-shortcode-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rabbit-integrator-button-cpy {
  margin-left: 10px;
  cursor: pointer;
  padding: 20px;
}
.rabbit-integrator-button-cpy::after {
  content: url(../images/copy.png);
  scale: 0.8;
  display: inline-block;
}
.rabbit-integrator-button-edit,
.rabbit-integrator-button-duplicate {
  margin-right: 5px;
}
.rabbit-integrator-button-edit,
.rabbit-integrator-button-duplicate,
.rabbit-integrator-button-delete {
  text-decoration: none;
}
.dataTables_empty {
  padding: 12px 10px 10px 10px !important;
  box-sizing: border-box !important;
}
.dataTables_processing {
  content: url(../images/loader.svg);
  scale: 0.2;
  top: 38px !important;
}
/* settings */
.rabbit-integrator-admin-settings {
  flex: 0 0 50%;
}
.rabbit-integrator-admin-settings ul li label {
  flex: 0 0 20%;
}
